include MANIFEST.in
include README.md
include pyproject.toml
include requirements-macos-arm64-py312.lock
graft docs
graft examples
graft src
graft tests
graft tools
graft verification
global-exclude *.py[cod]
global-exclude .DS_Store
prune **/__pycache__
prune **/.pytest_cache
